@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  background: linear-gradient(300deg, #2a0808 10%, #6b0000 60%);
  margin: 0;
}


.logincontainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.logo {
  
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  text-align: center;
  padding: 15px 0px;
  margin: 0;
  color: #f5e7e7;
  text-shadow: 0px 0px 10px #a60000;
  font-weight: 600;
}

.login-item {
  margin: 20px auto 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 90%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(60, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  box-sizing: border-box;
  border-radius: 10px;
  border: 2.5px solid rgba(255, 77, 77, 0.3);
  padding: 30px;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color .3s;
}

.user:before {
  content: '\f007';
  font: 14px fontawesome;
  color: #fb5b5b;
}

.lock:before {
  content: '\f023';
  font: 14px fontawesome;
  color: #fb5b5b;
}

.form input[type="password"], .form input[type="text"], .form input[type="submit"] {
  width: 100%;
}

.form-login label, .form-login input[type="text"], .form-login input[type="password"], .form-login input[type="submit"] {
  border-radius: 5px;
  padding: 1rem;
  color: #000000;
}

.form-login label {
  background-color: rgba(120, 0, 0, 0.5);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.form-login input[type="text"], .form-login input[type="password"] {
  background-color: #f2f2f2;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}



.form-login input[type="submit"] {
  background-color: #810404;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s;
  cursor: pointer;
}



.form-field {
  display: flex;
  margin-bottom: 1rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
  color: #ffb3b3;
}

a {
  text-decoration: none;
  color: #f72f2f;
  font-weight: 550;
  transition: color 0.3s;
}

a:hover {
  color: #e84646;
  
}

.login-text
{
  color: #ffb3b3;
}