#app {
  display: flex;
  flex-direction: column;
  min-height: 89vh;
}

.form-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  width: 90%;
  background: rgba(60, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 2.5px solid rgba(255, 77, 77, 0.3);
}

.container header {
  font-size: 1.5rem;
  color: #f5e7e7;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.container .form {
  margin-top: 10px;
}

h2.register {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #f5e7e7;
  text-shadow: 0px 0px 10px #a60000;
  font-weight: 600;
}

.form .input-box {
  width: 97%;
  margin-top: 15px;
}

.input-box label {
  color: #ffb3b3;
  display: block;
  text-align: left;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #000000;
  margin-top: 8px;
  border: 1px solid #fb5b5b;
  border-radius: 6px;
  padding: 0 15px;
  background-color: #f2f2f2;
}

.form .column {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 15px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 3px;
}

.form .gender {
  color: #f2f2f2;
  column-gap: 5px;
}

.gender-box h3 {
  color: #ffb3b3;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.gender input {
  accent-color: #fb5b5b;
}

.form button {
  height: 50px;
  width: 100%;
  color: #f2f2f2;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #810404;
  border-radius: 5px;
}



@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .form :where(.input-box input, .select-box) {
    height: 50px;
  }
}

.login-link {
  padding: 10px;
  color: #ffb3b3;
}

.login-link a {
  color: #f72f2f;
  font-weight: 550;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #e84646;
}