#app {
  display: flex;
  flex-direction: column;
  min-height:92vh;
}

.form-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  width: 90%;
  background: rgba(255, 228, 196, 0.9);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: 2.5px solid rgba(255, 107, 107, 0.5);
}

.container header {
  font-size: 1.5rem;
  color: #3a3a3a;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.container .form {
  margin-top: 10px;
}

h2.register {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #ff6b6b;
  text-shadow: 0px 0px 10px rgba(255, 107, 107, 0.3);
  font-weight: 600;
}

.form .input-box {
  width: 97%;
  margin-top: 15px;
}

.input-box label {
  color: #4a4a4a;
  display: block;
  text-align: left;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #4a4a4a;
  margin-top: 8px;
  border: 1px solid #ff6b6b;
  border-radius: 6px;
  padding: 0 15px;
  background-color: #fff6e6;
}

.form .column {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
}

.form .gender-box {
  margin-top: 15px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin-top: 3px;
}

.form .gender {
  color: #4a4a4a;
  column-gap: 5px;
}

.gender-box h3 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.gender input {
  accent-color: #ff6b6b;
}

.form button {
  height: 50px;
  width: 100%;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ff5252;
  border-radius: 5px;
}

.form button:hover {
  background-color: #ff3838;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 15px;
  }

  .form :where(.input-box input, .select-box) {
    height: 50px;
  }
}

.login-link {
  padding: 10px;
  color: #4a4a4a;
}

.login-link a {
  color: #ff3838;
  font-weight: 550;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #ff1f1f;
}